/* Only for empty screenshot test */
/* .renderTargetContainer {opacity: 0 !important;}  */

/* 隐藏翻页按钮 */
.renderTarget_pager {
  opacity: 0 !important;
}

/* 移除二级标题横线 */
.wr_decoration:not(.wr_readerBackground_opacity) {
  border-top: 0 !important;
}

/* 移除脚注 */
.renderTargetContainer .renderTargetContent .reader_footer_note {
  opacity: 0 !important;
}